.input {
    background: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    background: #000000;
    color: #e5e5e5;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}